{% extends 'blog/shared.html' %}
{% block content_block %}
<div class="container">
    {% for post in post_list %} <!--default from model-->
    <div class="post">
        <h1><a href="{% url 'post_content' pk=post.pk %}">{{post.title}}</a> </h1>
        <div class="date">
            <p>Date published: {{post.date_publish|date:'d-m-Y'}}</p>
        </div>
        <a href="{% url 'post_content' pk=post.pk %}">Comments: {{post.comments.count}}</a>
    </div>
    {% endfor %}
</div>
{% endblock %}