{% extends 'blog/shared.html' %}
{% block content_block %}
    <h1>{{post.title}}</h1> <!-- default from views -->
    {% if post.published_date %}
        <div>{{post.published_date}}</div>
    {% else %}
        <a class="btn btn-default" href="{% 'post_publish' pk=post.pk %}">Publish</a>
    {% endif %}
    <p>{{post.title|safe|linebreaksbr}}</p> <!-- medium editor -->
    {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'post_edit' pk=post.pk %}">
            <span class="fa fa-pencil"></span>
        </a>
        <a class="btn btn-primary" href="{% url 'post_remove' pk=post.pk %}">
            <span class="fa fa-remove"></span>
        </a>
    {% endif %}
    <br>
    <a href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
    <div class="container">
        {% for comment in post.comments.all %}
            {% if user.is_authenticated or comment.approved_comment %}
                {{comment.date_create}}
                {% if not comment.approved_comment %}
                    <a class="btn btn-primary" href="{% url 'comment_remove' pk=comment.pk %}">
                        <span class="fa fa-remove"></span>
                    </a>
                    <a class="btn btn-primary" href="{% url 'comment_approve' pk=comment.pk %}">
                        <span class="fa fa-ok"></span>
                    </a>
                {% endif %}
                <p>{comment.text|safe|linebreaksbr}</p>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}