<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog project</title>
    <!--BOOTSTRAP-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--MEDIUM EDITOR-->
    <script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">
    <!-- CUSTOM CSS-->
    <link rel="stylesheet" href="{% static 'css/blogStyle.css' %}">
</head>
<body>
    <!--NAVBAR-->
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="{% url 'all_posts' %}">Brand</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'post_new' %}">New post</a>
                </li>
                <li>
                    <a href="{% url 'drafts' %}">Drafts</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Logout</a>
                </li>
                <li>
                    <p>Hi {{user.username}}</p>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="content container">
        {% block content_block %}
        {% endblock %}
    </div>
</body>
</html>